<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

	<link rel="stylesheet" href="css/picnic.css?v=1.0">
	<link rel="stylesheet" href="css/pure-min.css?v=1.0">

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
	<h1>FB PARSER</h1>
	<table class="pure-table pure-table-striped fb-content">
		<thead>
			<tr>
				<th>id</th>
				<th>name</th>
				<th>description</th>
				<th>url</th>
				<th>created</th>
			</tr>
		</thead>
		<tbody>
			{% for post in posts %}
			<tr>
				<td>{{ post.id }}</td>
				<td>{{ post.name }}</td>
				<td>{{ post.description }}</td>
				<td><a href="{{ post.link }}">{{ post.link }}</a></td>
				<td>{{ post.created_time }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
  <script src="js/scripts.js"></script>
</body>
</html>
